.book-card-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid #757575;
  margin: 30px;
  padding: 24px;
  background-color: var(--card-color);
  border-radius: 10px;
  max-width: 200px;
  max-height: 600px;

  .image {
    width: 200px;
    height: 200px;
    //margin-bottom: 14px;
    //border-radius: 10px;
    //border: 2px solid #757575;
  }


  .title {
    font-size: 26px;
    margin-bottom: 14px;


  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .price {
    font-size: 26px;
    margin-bottom: 14px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }



  li {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  a {
    color: #080808;

    &:hover {
      color: #fbfcfd;

    }

    &._active {
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .icon {
    size: 20px;
    height: 20px;


    &._marked {
      path {
        fill: #f39531;
      }
    }
  }

}