body {
  --background-color: #ddd8d5;
  --card-color: #b8b7bd;
  --primary-color0: #2c85f2;
  --primary-color1: #0096ff;
  --primary-color2: #b5e4f2;
  --header-color: #525055;
  --text-color: #9c9ea2;
}





body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}