.button-conteiner {
  cursor: pointer;
  background-color: var(--primary-color0);
  border: none;
  outline: none;
  border-radius: 16px;
  height: 32px;
  color: white;


  &:hover {
    background-color: var(--primary-color1);
  }

  &:focus {
    background-color: rgb(165, 165, 222);
  }
}