.books-container {
  padding: 48px;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;



  .cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .books-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
  }

  .pagination {
    margin: 24px auto 0;
    display: flex;
    justify-content: center;
  }

  .title-newBook {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}